You have new mail.
(base) ➜  ~ git:(master) ✗ cd https://github.com/IdealisticINTJ/Daily-Coding-Problem.git
cd: no such file or directory: https://github.com/IdealisticINTJ/Daily-Coding-Problem.git
(base) ➜  ~ git:(master) ✗ cd ~/Projects/Daily-Coding-Problem

cd: no such file or directory: /Users/salma/Projects/Daily-Coding-Problem
(base) ➜  ~ git:(master) ✗ cd ~/Desktop/Personal
(base) ➜  Personal git:(master) ✗ mkdir LeetCode
(base) ➜  Personal git:(master) ✗ cd LeetCode
(base) ➜  LeetCode git:(master) ✗ cd ~/Desktop/Personal/LeetCode/Daily-Coding-Problem

cd: no such file or directory: /Users/salma/Desktop/Personal/LeetCode/Daily-Coding-Problem
(base) ➜  LeetCode git:(master) ✗ cd Daily-Coding-Problem
cd: no such file or directory: Daily-Coding-Problem
(base) ➜  LeetCode git:(master) ✗ git clone https://github.com/IdealisticINTJ/Daily-Coding-Problem.git

Cloning into 'Daily-Coding-Problem'...
remote: Enumerating objects: 262, done.
remote: Counting objects: 100% (111/111), done.
remote: Compressing objects: 100% (95/95), done.
remote: Total 262 (delta 31), reused 0 (delta 0), pack-reused 151
Receiving objects: 100% (262/262), 54.23 KiB | 1009.00 KiB/s, done.
Resolving deltas: 100% (79/79), done.
(base) ➜  LeetCode git:(master) ✗ touch requirements.txt

(base) ➜  LeetCode git:(master) ✗ nano requirements.txt


  UW PICO 5.09                 File: requirements.txt                 Modified  

numpy==1.21.2
pandas==1.3.3
requests==2.26.0
flask==2.1.1   
















^G Get Help  ^O WriteOut  ^R Read File ^Y Prev Pg   ^K Cut Text  ^C Cur Pos   
^X Exit      ^J Justify   ^W Where is  ^V Next Pg   ^U UnCut Text^T To Spell  
